@import "tailwindcss";

@theme {
    --bg-trans-25: rgba(0, 0, 0, 0.25);
    --blur-mica: 40px;
    --box-shadow-main: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --box-shadow-inset-main: 0 0 10px rgba(13, 13, 13, 1) inset,
        0 0 1px RGBA(0, 0, 0, 1);
    --box-shadow-inset-main-50: 0 0 5px rgba(13, 13, 13, 1) inset,
        0 0 1px RGBA(0, 0, 0, 1);

    --animate-fade-in-scale: fade-in-scale 0.15s ease-in-out;
    @keyframes fade-in-scale {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
    --animate-fade-out-scale: fade-out-scale 0.15s ease-in-out;
    @keyframes fade-out-scale {
        0% {
            opacity: 1;
            transform: scale(1);
        }
        100% {
            opacity: 0;
            transform: scale(0.95);
        }
    }
}
